* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color:blueviolet;
}